.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cms-index-index {
        .page-wrapper {
            .page-header {
                margin-bottom: 0;
            }
        }
    }
    .row {
        &.homepage-banner-slider {
            &.desk {
                display: none;
            }
            &.mobile {
                display: block;
                img {
                    width: 100%;
                    aspect-ratio: unset;
                    object-fit: cover;
                }
            }
        }

        .how-works {
            &-items {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                column-gap: 20px;
            }
        }

        &.contained {
            .banner-grid {
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;
            }
        }
    }
}

@media (max-width: 980px) {
    .row {
        .banner-grid {
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;

            .section-title {
                font-size: 20px;
                margin-bottom: 24px;
            }

            .banner-title {
                font-size: 16px;
            }

            .banner-description {
                font-size: 11px;
            }
        }
    }
}
